<div class="container">
<h1>All Coaches</h1>
<table>
<tbody>
	<tr>
	<% @coaches.each do |coach| %>
	<td><%= link_to(coach.first_name, coach_path(coach)) %></td>
	<td><%= coach.last_name %><td>
	<tr>
<% end %>
</tbody>
</table>
<h4><a href="/coaches/new" class="btn btn-primary">Join SFT</a></h4>
</div>
